name: Tests
on:
  push:
    branches:
      - master
      - actions
jobs:
  test:
    runs-on: ubuntu-20.04
    strategy:
      max-parallel: 2
      fail-fast: false
      matrix:
        python-version:
          - '2.7'
          - '3.5'
          - '3.6'
          - '3.7'
          - '3.8'
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64
      - name: Run tests
        env:
          API_USER: ${{ secrets.API_USER }}
          API_PASS: ${{ secrets.API_PASS }}
          API_ID: ${{ secrets.API_ID }}
          COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}
        run: |
          cd $GITHUB_WORKSPACE
          pip install -e .[tests]
          make test
          coveralls || true
